<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mugshots</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:grey">
<h1 style="text-align: center;">Mugshots</h1>
<div class="mugshot-container">
    <div th:each="mugshot : ${mugshots}" class="mugshot">
        <img th:src="@{${mugshot.imageUrl}}" alt="Mugshot of [[${mugshot.name}]]">
        <h2 th:text="${mugshot.name}"></h2>
    </div>
</div>
</body>
</html>
