<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>360&deg; Image</title>
    <meta name="description" content="360&deg; Image - A-Frame">
    <script src="/static/css/aframe-master.js"></script>
</head>
<body>
<a-scene>
    <a-sky src="/static/images/wash-dresden.jpg" rotation="0 130 0"></a-sky>

    <a-text font="kelsonsans" value="Hiiiii" width="6" position="-2.5 0.25 -1.5"
            rotation="0 15 0"></a-text>
    <!-- <a-image src="/static/images/pretzel.png" position="-2.6 0.26 -1.6" width="20" height="20"></a-image> -->

    <!-- 3D Model component acting as a button -->
    <a-entity id="myButton2" gltf-model="url(/static/soulsucker/scene.gltf)" scale="1 1 1" position="-2.5 0.25 -1.5" rotation="0 60 0"></a-entity>

    <!-- Simple VR button -->
    <a-box id="myButton" position="0 1.6 -3" rotation="0 45 0" width="1" height="1" depth="0.2" color="#4CC3D9">
        <a-text value="Click Me" align="center" position="0 0 0.1" color="#FFF"></a-text>
    </a-box>
    <!-- Text message initially hidden -->
    <a-text id="message" value="Click the model!" position="0 2 -3" color="blue" visible="false"></a-text>
    <!-- Add a camera and cursor for VR interaction -->
    <a-entity camera position="0 1.6 0" wasd-controls look-controls>
        <a-cursor></a-cursor>
    </a-entity>
</a-scene>
<script>
    AFRAME.registerComponent('toggle-visibility', {
        init: function () {
            // Reference to the entity this component is attached to
            const el = this.el;
            // Reference to the text element
            const message = document.querySelector('#message');

            // Add event listener to the element this component is attached to
            el.addEventListener('click', function (event) {
                // Toggle the visibility of the text element
                const isVisible = message.getAttribute('visible');
                message.setAttribute('visible', !isVisible);

                // Stop the event from propagating to allow other interactions
                event.stopPropagation();
            });
        }
    });

    // Attach the component to the button
    document.querySelector('#myButton').setAttribute('toggle-visibility', '');
</script>
</body>
</html>
