<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>360&deg; Image</title>
    <meta name="description" content="360&deg; Image - A-Frame">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        #embedded-iframe-container1, #embedded-iframe-container3, #embedded-iframe-container4, #embedded-iframe-container5, #embedded-iframe-container6 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1000px;
            height: 500px;
            display: none;
        }
        #embedded-iframe-container1 iframe, #embedded-iframe-container3 iframe, #embedded-iframe-container4 iframe, #embedded-iframe-container5 iframe, #embedded-iframe-container6 iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0.8);
            border: none;
            border-radius: 15px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            line-height: 30px;
        }
    </style>
</head>
<body>
<a-scene>
    <a-sky src="/static/images/beach.jpg" rotation="0 -130 0"></a-sky>

    <!-- 6 3D Model components arranged in a circle with slight floating effect, lowered position, and larger scale -->
    <a-entity id="myButton2" gltf-model="url(/static/soulsucker/scene.gltf)" scale="1.5 1.5 1.5" position="5 -0.8 0" rotation="0 -90 0" class="clickable"
              animation__float="property: position; to: 5 -0.3 0; dir: alternate; dur: 2500; loop: true">
        <a-entity id="jar2" geometry="primitive: cylinder; height: 1.5; radius: 0.5" material="opacity: 0"
                  position="0 1.45 0">
            <a-text value="welcome" color="turquoise" position="-0.5 0 0.8" rotation="0 0 0" width="5"></a-text>
        </a-entity>
    </a-entity>
    <a-text id="text2" width="6" position="5 -1.0 0" rotation="0 -90 0" visible="false"></a-text>

    <a-entity id="myButton3" gltf-model="url(/static/soulsucker/scene.gltf)" scale="1.5 1.5 1.5" position="2.5 -0.8 4.33" rotation="0 -150 0" class="clickable"
              animation__float="property: position; to: 2.5 -0.3 4.33; dir: alternate; dur: 2500; loop: true">
        <a-entity id="jar3" geometry="primitive: cylinder; height: 1.5; radius: 0.5" material="opacity: 0"
                  position="0 1.45 0">
            <a-text value="Model 2" color="turquoise" position="-0.5 0 0.8" rotation="0 0 0" width="5"></a-text>
        </a-entity>
    </a-entity>
    <a-text id="text3" width="6" position="2.5 -1.0 4.33" rotation="0 -150 0" visible="false"></a-text>

    <a-entity id="myButton4" gltf-model="url(/static/soulsucker/scene.gltf)" scale="1.5 1.5 1.5" position="-2.5 -0.8 4.33" rotation="0 150 0" class="clickable"
              animation__float="property: position; to: -2.5 -0.3 4.33; dir: alternate; dur: 2500; loop: true">
        <a-entity id="jar4" geometry="primitive: cylinder; height: 1.5; radius: 0.5" material="opacity: 0"
                  position="0 1.45 0">
            <a-text value="help" color="turquoise" position="-0.25 0 0.8" rotation="0 0 0" width="5"></a-text>
        </a-entity>
    </a-entity>
    <a-text id="text4" width="6" position="-2.5 -1.0 4.33" rotation="0 150 0" visible="false"></a-text>

    <a-entity id="myButton5" gltf-model="url(/static/soulsucker/scene.gltf)" scale="1.5 1.5 1.5" position="-5 -0.8 0" rotation="0 90 0" class="clickable"
              animation__float="property: position; to: -5 -0.3 0; dir: alternate; dur: 2500; loop: true">
        <a-entity id="jar5" geometry="primitive: cylinder; height: 1.5; radius: 0.5" material="opacity: 0"
                  position="0 1.45 0">
            <a-text value="misc" color="turquoise" position="-0.25 0 0.8" rotation="0 0 0" width="5"></a-text>
        </a-entity>
    </a-entity>
    <a-text id="text5" width="6" position="-5 -1.0 0" rotation="0 90 0" visible="false"></a-text>

    <a-entity id="myButton6" gltf-model="url(/static/soulsucker/scene.gltf)" scale="1.5 1.5 1.5" position="-2.5 -0.8 -4.33" rotation="0 30 0" class="clickable"
              animation__float="property: position; to: -2.5 -0.3 -4.33; dir: alternate; dur: 2500; loop: true">
        <a-entity id="jar6" geometry="primitive: cylinder; height: 1.5; radius: 0.5" material="opacity: 0"
                  position="0 1.45 0">
            <a-text value="news" color="turquoise" position="-0.25 0 0.8" rotation="0 0 0" width="5"></a-text>
        </a-entity>
    </a-entity>
    <a-text id="text6" width="6" position="-2.5 -1.0 -4.33" rotation="0 30 0" visible="false"></a-text>

    <a-entity id="myButton7" gltf-model="url(/static/soulsucker/scene.gltf)" scale="1.5 1.5 1.5" position="2.5 -0.8 -4.33" rotation="0 -30 0" class="clickable"
              animation__float="property: position; to: 2.5 -0.3 -4.33; dir: alternate; dur: 2500; loop: true">
        <a-entity id="jar7" geometry="primitive: cylinder; height: 1.5; radius: 0.5" material="opacity: 0"
                  position="0 1.45 0">
            <a-text value="urgent" color="turquoise" position="-0.25 0 0.8" rotation="0 0 0" width="5"></a-text>
        </a-entity>
    </a-entity>
    <a-text id="text7" width="6" position="2.5 -1.0 -4.33" rotation="0 -30 0" visible="false"></a-text>

    <!-- Add a camera and cursor for VR interaction -->
    <a-entity id="cameraRig" camera position="0 1.6 0" wasd-controls look-controls="reverse-mouse-drag: true">
        <a-entity cursor="fuse: false; rayOrigin: mouse" raycaster="objects: .clickable" position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: #FFF; shader: flat;"></a-entity>
    </a-entity>
</a-scene>

<!-- Embedded iframe containers -->
<div id="embedded-iframe-container1">
    <button class="close-button" onclick="closeIframe('#embedded-iframe-container1', '#myButton2', '#text2')">X</button>
    <iframe id="iframe1" src="http://localhost:8080/welcome"></iframe>
</div>

<div id="embedded-iframe-container3">
    <button class="close-button" onclick="closeIframe('#embedded-iframe-container3', '#myButton4', '#text4')">X</button>
    <iframe id="iframe3" src="http://localhost:8080/mentalhealth"></iframe>
</div>

<div id="embedded-iframe-container4">
    <button class="close-button" onclick="closeIframe('#embedded-iframe-container4', '#myButton5', '#text5')">X</button>
    <iframe id="iframe4" src="http://localhost:8080/frontier"></iframe>
</div>

<div id="embedded-iframe-container5">
    <button class="close-button" onclick="closeIframe('#embedded-iframe-container5', '#myButton6', '#text6')">X</button>
    <iframe id="iframe5" src="http://localhost:8080/news"></iframe>
</div>

<div id="embedded-iframe-container6">
    <button class="close-button" onclick="closeIframe('#embedded-iframe-container6', '#myButton7', '#text7')">X</button>
    <iframe id="iframe6" src="http://localhost:8080/urgent"></iframe>
</div>

<script>
    AFRAME.registerComponent('toggle-visibility', {
        init: function () {
            const moveDistance = 2.0; // Increased distance to move towards the user

            // Add event listener to the element this component is attached to
            this.el.addEventListener('click', function (event) {
                // Identify the clicked model
                const clickedModel = event.currentTarget;
                let currentPosition = clickedModel.getAttribute('position');

                // Get the user's current position (camera position)
                const userPosition = document.querySelector('#cameraRig').getAttribute('position');

                // Calculate the direction vector towards the user's position
                let direction = {
                    x: userPosition.x - currentPosition.x,
                    y: 0, // Keep y the same
                    z: userPosition.z - currentPosition.z
                };

                // Normalize the direction vector
                let length = Math.sqrt(direction.x * direction.x + direction.z * direction.z);
                direction.x /= length;
                direction.z /= length;

                // Calculate the new position
                let newPosition = (clickedModel.isAtCenter) ?
                    clickedModel.originalPosition :
                    {
                        x: currentPosition.x + direction.x * moveDistance,
                        y: currentPosition.y,
                        z: currentPosition.z + direction.z * moveDistance
                    };

                // Animate the model to the new position
                clickedModel.setAttribute('animation__move', `property: position; to: ${newPosition.x} -0.8 ${newPosition.z}; dur: 1000; easing: easeInOutQuad;`);

                // Listen for animation completion to restart floating
                clickedModel.addEventListener('animationcomplete__move', () => {
                    clickedModel.setAttribute('animation__float', `property: position; to: ${newPosition.x} -0.3 ${newPosition.z}; dir: alternate; dur: 2500; loop: true`);
                });

                // Toggle the isAtCenter flag
                clickedModel.isAtCenter = !clickedModel.isAtCenter;

                // Store the original position if not already stored
                if (!clickedModel.originalPosition) {
                    clickedModel.originalPosition = { x: currentPosition.x, y: currentPosition.y, z: currentPosition.z };
                }

                // Emit move event to start the movement animation
                clickedModel.emit('move');

                // Toggle visibility of the respective text
                const textId = 'text' + clickedModel.id.slice(-1);
                const textElement = document.querySelector('#' + textId);
                const textIsVisible = textElement.getAttribute('visible');
                textElement.setAttribute('visible', !textIsVisible);

                // Toggle the visibility of the iframe container based on the model clicked
                if (textId === 'text2') {
                    const iframeContainer = document.querySelector('#embedded-iframe-container1');
                    toggleIframe(iframeContainer, 'http://localhost:8080/welcome');
                } else if (textId === 'text4') {
                    const iframeContainer = document.querySelector('#embedded-iframe-container3');
                    toggleIframe(iframeContainer, 'http://localhost:8080/mentalhealth');
                } else if (textId === 'text5') {
                    const iframeContainer = document.querySelector('#embedded-iframe-container4');
                    toggleIframe(iframeContainer, 'http://localhost:8080/frontier');
                } else if (textId === 'text6') {
                    const iframeContainer = document.querySelector('#embedded-iframe-container5');
                    toggleIframe(iframeContainer, 'http://localhost:8080/news');
                } else if (textId === 'text7') {
                    const iframeContainer = document.querySelector('#embedded-iframe-container6');
                    toggleIframe(iframeContainer, 'http://localhost:8080/urgent');
                }
            });
        }
    });

    function toggleIframe(container, url) {
        const iframe = container.querySelector('iframe');
        const containerIsVisible = container.style.display === 'block';
        if (containerIsVisible) {
            container.style.display = 'none';
            iframe.src = ''; // Unload the iframe
        } else {
            container.style.display = 'block';
            iframe.src = url; // Reload the iframe
        }
    }

    // Attach the component to each clickable model individually
    document.querySelectorAll('.clickable').forEach(el => {
        el.setAttribute('toggle-visibility', '');
        el.isAtCenter = false; // Initialize the isAtCenter flag
    });

    function closeIframe(containerId, modelId, textId) {
        const iframeContainer = document.querySelector(containerId);
        const iframe = iframeContainer.querySelector('iframe');

        iframe.src = ''; // Unload the iframe
        iframeContainer.style.display = 'none';

        // Reset model position and animation
        const model = document.querySelector(modelId);
        const originalPosition = model.originalPosition;
        model.setAttribute('animation__move', `property: position; to: ${originalPosition.x} -0.8 ${originalPosition.z}; dur: 1000; easing: easeInOutQuad;`);

        model.addEventListener('animationcomplete__move', () => {
            model.setAttribute('animation__float', `property: position; to: ${originalPosition.x} -0.3 ${originalPosition.z}; dir: alternate; dur: 2500; loop: true`);
        });

        model.isAtCenter = false;

        // Toggle the visibility of the respective text
        const textElement = document.querySelector(textId);
        textElement.setAttribute('visible', false);
    }
</script>
</body>
</html>
